.conteudo { 
    background: blue; 
    border: 1px solid gray; 
    width: 200px; 
    height: 200px;  
    margin: 10px;
} 
 
.conteudo1 { 
    background: red;
    border: 1px solid gray; 
    width: 150px; 
    height: 150px; 
    float:right; 
    margin: 10px;
} 
 
.conteudo2 { 
    background: red; 
    border: 2px solid white;
    width: 150px; 
    height: 150px; 
    float: left; 
    margin: 10px;
} 
 
.conteudo3 {
     background:purple; 
     border: 2px solid grey; 
     width: 200px; 
     height: 200px; 
     margin: 20px;
     float: left;
     margin: 10px;
}
.clear {
     clear: both;
}